<h1>About</h1>
<br />
<p>PixDream is a place to store and share imges. You can upload pictures and share them with other users.<br>
   Add your own images and organize them into collections - keep your ideas and inspirations in one place. :)</p>
<br />
<br />
<br />
<p>PixDream app is final project on my postgraduate studies of Web application programing 2017/2018 at AGH University of Science and Technology.<br />
   Application was inspired by websites and social network like Pinterest and We Heart It.</p>