<div class="jumbotron">
  <h1>Witaj w aplikacji PixDream!</h1>
  <p>Kliknij poniżej aby rozpocząć dodawanie obrazów <br />lub zobacz galerię dostępnych obrazów</p>
  <%= link_to 'O mnie', home_about_path, class: 'btn btn-default' %>
  <%= link_to 'Rozpocznij', new_pin_path, class: 'btn btn-primary' %>
  <%= link_to 'Galeria obrazów', pins_path, class: 'btn btn-primary' %>
</div>
