<div class="jumbotron">
  <h1>Witaj w mojej aplikacji!</h1>
  <p>Niebawem rzuci wszystkich na kolana...</p>
  <%= link_to 'O mnie', home_about_path, class: 'btn btn-default' %>
  <%= link_to 'Rozpocznij', new_pin_path, class: 'btn btn-primary' %>
  <%= link_to 'Lista pinów', pins_path, class: 'btn btn-primary' %>
</div>
