// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
    position: relative;
    min-height: 100%;
  }

body {
    color: #00000091;
    margin-bottom: 60px;
}
h1 {
    margin-left: 25px;
}

.footer {
    color: #ffffff;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 70px;
    background-color: #727477;
    padding: 25px 0;
    width: 100%;

  }
