<p>Witaj, <%= @resource.email %>!</p>

<p>Twoje konto zostało zablokowane z powodu zbyt dużej liczby nieudanych prób zalogowania.</p>

<p>Kliknij poniższy odnośnik, aby odblokować konto:</p>

<p><%= link_to 'Odblokuj konto', unlock_url(@resource, unlock_token: @token) %></p>
